USE [master]
GO
/****** Object:  Database [ProyectoFleetsync]    Script Date: 11/08/2025 7:44:39 ******/
CREATE DATABASE [ProyectoFleetsync]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoFleetsync', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProyectoFleetsync.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoFleetsync_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProyectoFleetsync_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoFleetsync].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoFleetsync]
GO
/****** Object:  UserDefinedFunction [dbo].[calculartotalestimado]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[calculartotalestimado] (
    @dias int,
    @preciopordia decimal(10,2)
)
returns decimal(10,2)
as
begin
    return @dias * @preciopordia;
end;
GO
/****** Object:  UserDefinedFunction [dbo].[nombrecompletocliente]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[nombrecompletocliente] (
    @clienteid int
)
returns nvarchar(60)
as
begin
    declare @nombre nvarchar(60);
    select @nombre = nombre + ' ' + apellido from clientes where clienteid = @clienteid;
    return @nombre;
end;
GO
/****** Object:  Table [dbo].[tiposvehiculo]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tiposvehiculo](
	[tipoid] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tipoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sucursales]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursales](
	[sucursalid] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[direccion] [nvarchar](250) NULL,
	[telefono] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[sucursalid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehiculos]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiculos](
	[vehiculoid] [int] IDENTITY(1,1) NOT NULL,
	[marca] [nvarchar](50) NOT NULL,
	[modelo] [nvarchar](50) NOT NULL,
	[anio] [int] NULL,
	[tipoid] [int] NOT NULL,
	[placa] [nvarchar](20) NOT NULL,
	[vin] [nvarchar](50) NULL,
	[kilometrajeactual] [int] NULL,
	[estado] [nvarchar](20) NULL,
	[preciopordia] [decimal](10, 2) NOT NULL,
	[sucursalid] [int] NOT NULL,
	[ImagenUrl] [nvarchar](255) NULL,
	[marcaid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[vehiculoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[vin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vistavehiculosdisponibles]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vistavehiculosdisponibles] as
select 
    v.vehiculoid, v.marca, v.modelo, v.anio, 
    t.descripcion as tipo, 
    v.placa, v.preciopordia, 
    s.nombre as sucursal
from vehiculos v
join tiposvehiculo t on v.tipoid = t.tipoid
join sucursales s on v.sucursalid = s.sucursalid
where v.estado = 'disponible';
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[clienteid] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](25) NOT NULL,
	[apellido] [nvarchar](25) NOT NULL,
	[direccion] [nvarchar](50) NULL,
	[telefono] [nvarchar](20) NULL,
	[correoelectronico] [nvarchar](50) NULL,
	[licenciaconducir] [nvarchar](50) NULL,
	[fechanacimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[clienteid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rentas]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rentas](
	[rentaid] [int] IDENTITY(1,1) NOT NULL,
	[clienteid] [int] NOT NULL,
	[vehiculoid] [int] NOT NULL,
	[fechainicio] [date] NOT NULL,
	[fechafin] [date] NOT NULL,
	[estado] [nvarchar](20) NULL,
	[totalestimado] [decimal](10, 2) NULL,
	[totalfinal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[rentaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vistarentasactivas]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vistarentasactivas] as
select 
    r.rentaid, 
    c.nombre + ' ' + c.apellido as cliente, 
    v.placa, r.fechainicio, r.fechafin, r.totalestimado
from rentas r
join clientes c on r.clienteid = c.clienteid
join vehiculos v on r.vehiculoid = v.vehiculoid
where r.estado = 'activa';
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[pagoid] [int] IDENTITY(1,1) NOT NULL,
	[rentaid] [int] NOT NULL,
	[fechapago] [date] NULL,
	[montopagado] [decimal](10, 2) NULL,
	[metodopago] [nvarchar](50) NULL,
	[estado] [nvarchar](20) NULL,
	[fechamodificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[pagoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vistapagospendientes]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vistapagospendientes] as
select 
    p.pagoid, 
    c.nombre + ' ' + c.apellido as cliente, 
    v.placa, 
    p.montopagado, 
    p.metodopago
from pagos p
join rentas r on p.rentaid = r.rentaid
join clientes c on r.clienteid = c.clienteid
join vehiculos v on r.vehiculoid = v.vehiculoid
where p.estado = 'pendiente';
GO
/****** Object:  Table [dbo].[multas]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[multas](
	[multaid] [int] IDENTITY(1,1) NOT NULL,
	[rentaid] [int] NOT NULL,
	[tipocargo] [nvarchar](50) NULL,
	[monto] [decimal](10, 2) NULL,
	[descripcion] [nvarchar](255) NULL,
	[fechacargo] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[multaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vistamultascliente]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vistamultascliente] as
select 
    m.multaid, 
    c.nombre + ' ' + c.apellido as cliente, 
    m.tipocargo, m.monto, m.descripcion, m.fechacargo
from multas m
join rentas r on m.rentaid = r.rentaid
join clientes c on r.clienteid = c.clienteid;
GO
/****** Object:  Table [dbo].[mantenimientos]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mantenimientos](
	[mantenimientoid] [int] IDENTITY(1,1) NOT NULL,
	[vehiculoid] [int] NOT NULL,
	[fechamantenimiento] [date] NOT NULL,
	[tipomantenimiento] [nvarchar](50) NULL,
	[descripcion] [nvarchar](250) NULL,
	[costo] [decimal](10, 2) NULL,
	[tallerresponsable] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[mantenimientoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vistamantenimientosvehiculos]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vistamantenimientosvehiculos] as
select 
    v.placa, 
    m.tipomantenimiento, 
    m.descripcion, 
    m.fechamantenimiento, 
    m.costo
from mantenimientos m
join vehiculos v on m.vehiculoid = v.vehiculoid;
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[bitacoraid] [int] IDENTITY(1,1) NOT NULL,
	[usuarioid] [int] NULL,
	[accion] [nvarchar](100) NULL,
	[descripcion] [nvarchar](300) NULL,
	[fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[bitacoraid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cargos]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cargos](
	[idcargo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idcargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comentarios]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comentarios](
	[comentarioid] [int] IDENTITY(1,1) NOT NULL,
	[clienteid] [int] NULL,
	[vehiculoid] [int] NULL,
	[comentario] [nvarchar](300) NULL,
	[calificacion] [int] NULL,
	[fechacomentario] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[comentarioid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[empleadoid] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](25) NOT NULL,
	[apellido] [nvarchar](25) NOT NULL,
	[cargo] [nvarchar](50) NULL,
	[correo] [nvarchar](50) NULL,
	[telefono] [nvarchar](20) NULL,
	[fechacontratacion] [date] NULL,
	[sucursalid] [int] NULL,
	[idcargo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[empleadoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historial_rentas]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historial_rentas](
	[historialid] [int] IDENTITY(1,1) NOT NULL,
	[rentaid] [int] NULL,
	[clienteid] [int] NULL,
	[vehiculoid] [int] NULL,
	[fechainicio] [date] NULL,
	[fechafin] [date] NULL,
	[totalfinal] [decimal](10, 2) NULL,
	[fechaarchivo] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[historialid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marcas]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marcas](
	[marcaid] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[logourl] [varchar](255) NULL,
	[descripcion] [varchar](500) NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[marcaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservas]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservas](
	[reservaid] [int] IDENTITY(1,1) NOT NULL,
	[clienteid] [int] NULL,
	[vehiculoid] [int] NULL,
	[fechareserva] [date] NOT NULL,
	[fechainicio] [date] NOT NULL,
	[fechafin] [date] NOT NULL,
	[estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[reservaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rolespermisos]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rolespermisos](
	[rolpermisoid] [int] IDENTITY(1,1) NOT NULL,
	[rol] [nvarchar](50) NULL,
	[modulo] [nvarchar](50) NULL,
	[puedecrear] [bit] NULL,
	[puedeeditar] [bit] NULL,
	[puedeeliminar] [bit] NULL,
	[puedever] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[rolpermisoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 11/08/2025 7:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[usuarioid] [int] IDENTITY(1,1) NOT NULL,
	[nombreusuario] [nvarchar](50) NOT NULL,
	[contrasenahash] [nvarchar](50) NOT NULL,
	[rol] [nvarchar](20) NULL,
	[empleadoid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usuarioid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombreusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bitacora] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[comentarios] ADD  DEFAULT (getdate()) FOR [fechacomentario]
GO
ALTER TABLE [dbo].[historial_rentas] ADD  DEFAULT (getdate()) FOR [fechaarchivo]
GO
ALTER TABLE [dbo].[marcas] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[reservas] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[vehiculos] ADD  DEFAULT ((0)) FOR [kilometrajeactual]
GO
ALTER TABLE [dbo].[bitacora]  WITH CHECK ADD FOREIGN KEY([usuarioid])
REFERENCES [dbo].[usuarios] ([usuarioid])
GO
ALTER TABLE [dbo].[comentarios]  WITH CHECK ADD FOREIGN KEY([clienteid])
REFERENCES [dbo].[clientes] ([clienteid])
GO
ALTER TABLE [dbo].[comentarios]  WITH CHECK ADD FOREIGN KEY([vehiculoid])
REFERENCES [dbo].[vehiculos] ([vehiculoid])
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD FOREIGN KEY([sucursalid])
REFERENCES [dbo].[sucursales] ([sucursalid])
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD  CONSTRAINT [FK_Cargo] FOREIGN KEY([idcargo])
REFERENCES [dbo].[cargos] ([idcargo])
GO
ALTER TABLE [dbo].[empleados] CHECK CONSTRAINT [FK_Cargo]
GO
ALTER TABLE [dbo].[historial_rentas]  WITH CHECK ADD FOREIGN KEY([clienteid])
REFERENCES [dbo].[clientes] ([clienteid])
GO
ALTER TABLE [dbo].[historial_rentas]  WITH CHECK ADD FOREIGN KEY([rentaid])
REFERENCES [dbo].[rentas] ([rentaid])
GO
ALTER TABLE [dbo].[historial_rentas]  WITH CHECK ADD FOREIGN KEY([vehiculoid])
REFERENCES [dbo].[vehiculos] ([vehiculoid])
GO
ALTER TABLE [dbo].[mantenimientos]  WITH CHECK ADD FOREIGN KEY([vehiculoid])
REFERENCES [dbo].[vehiculos] ([vehiculoid])
GO
ALTER TABLE [dbo].[multas]  WITH CHECK ADD FOREIGN KEY([rentaid])
REFERENCES [dbo].[rentas] ([rentaid])
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD FOREIGN KEY([rentaid])
REFERENCES [dbo].[rentas] ([rentaid])
GO
ALTER TABLE [dbo].[rentas]  WITH CHECK ADD FOREIGN KEY([clienteid])
REFERENCES [dbo].[clientes] ([clienteid])
GO
ALTER TABLE [dbo].[rentas]  WITH CHECK ADD FOREIGN KEY([vehiculoid])
REFERENCES [dbo].[vehiculos] ([vehiculoid])
GO
ALTER TABLE [dbo].[reservas]  WITH CHECK ADD FOREIGN KEY([clienteid])
REFERENCES [dbo].[clientes] ([clienteid])
GO
ALTER TABLE [dbo].[reservas]  WITH CHECK ADD FOREIGN KEY([vehiculoid])
REFERENCES [dbo].[vehiculos] ([vehiculoid])
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD FOREIGN KEY([empleadoid])
REFERENCES [dbo].[empleados] ([empleadoid])
GO
ALTER TABLE [dbo].[vehiculos]  WITH CHECK ADD FOREIGN KEY([sucursalid])
REFERENCES [dbo].[sucursales] ([sucursalid])
GO
ALTER TABLE [dbo].[vehiculos]  WITH CHECK ADD FOREIGN KEY([tipoid])
REFERENCES [dbo].[tiposvehiculo] ([tipoid])
GO
ALTER TABLE [dbo].[vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_vehiculos_marcas] FOREIGN KEY([marcaid])
REFERENCES [dbo].[marcas] ([marcaid])
GO
ALTER TABLE [dbo].[vehiculos] CHECK CONSTRAINT [FK_vehiculos_marcas]
GO
ALTER TABLE [dbo].[comentarios]  WITH CHECK ADD CHECK  (([calificacion]>=(1) AND [calificacion]<=(5)))
GO
ALTER TABLE [dbo].[mantenimientos]  WITH CHECK ADD CHECK  (([costo]>=(0)))
GO
ALTER TABLE [dbo].[mantenimientos]  WITH CHECK ADD CHECK  (([tipomantenimiento]='correctivo' OR [tipomantenimiento]='preventivo'))
GO
ALTER TABLE [dbo].[multas]  WITH CHECK ADD CHECK  (([monto]>=(0)))
GO
ALTER TABLE [dbo].[multas]  WITH CHECK ADD CHECK  (([tipocargo]='limpieza' OR [tipocargo]='daño' OR [tipocargo]='retraso'))
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD CHECK  (([estado]='pendiente' OR [estado]='pagado'))
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD CHECK  (([metodopago]='transferencia' OR [metodopago]='efectivo' OR [metodopago]='tarjeta'))
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD CHECK  (([montopagado]>=(0)))
GO
ALTER TABLE [dbo].[rentas]  WITH CHECK ADD CHECK  (([totalestimado]>=(0)))
GO
ALTER TABLE [dbo].[rentas]  WITH CHECK ADD  CONSTRAINT [CK_rentas_estado] CHECK  (([estado]='reservada' OR [estado]='activa' OR [estado]='completada' OR [estado]='cancelada'))
GO
ALTER TABLE [dbo].[rentas] CHECK CONSTRAINT [CK_rentas_estado]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD CHECK  (([rol]='empleado' OR [rol]='admin'))
GO
ALTER TABLE [dbo].[vehiculos]  WITH CHECK ADD CHECK  (([anio]>=(1900) AND [anio]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[vehiculos]  WITH CHECK ADD CHECK  (([preciopordia]>=(0)))
GO
USE [master]
GO
